<div class="container">
  <div class="col-xs-12 col-md-12">
  	<div class="thumbnail thumbnail-container">
      <h1 class="text-center">Categories</h1>
      <div class="row cat-tab">
        <div class="col-lg-5">
          <strong>Name</strong>
        </div>
        <div class="col-lg-5">
          <strong>Machine name</strong>
        </div>
        <div class="col-lg-2">
          <strong>Action</strong>
        </div>
      </div>
      <% @categories.each do |category| %>
      <div class="row cat-tab">
      <%= form_for(category) do |f| %> 
        <div class="col-lg-5">
          <%= f.text_field :name , class: "form-control"%>
        </div>
        <div class="col-lg-5">
          <%= f.text_field :machine_name , class: "form-control"%>
        </div>
        <div class="col-lg-2">
          <%= f.submit "Update", :class => 'btn btn-primary btn-sm'%>
          <a href="/category/<%= category.id %>/delete" class="btn btn-danger btn-sm" role="button">Delete</a>
        </div>
      <% end %>
      </div>
      <% end %>
      <div class="row cat-tab">
      <%= form_for(@category) do |f| %> 
        <div class="col-lg-5">
          <%= f.text_field :name , class: "form-control"%>
        </div>
        <div class="col-lg-5">
          <%= f.text_field :machine_name , class: "form-control"%>
        </div>
        <div class="col-lg-2">
          <%= f.submit "Create", :class => 'btn btn-primary btn-sm'%>
        </div>
      <% end %>
      </div>
  	</div>
  </div>
</div>