<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<div class="container">
  <div>
    <% @items.each do |item| %>
    <div class="col-xs-3 col-md-3">
      <div class="thumbnail">
        <img src="/random.jpeg">  
        <div class="caption">
          <h4><%= item.name %></h4>
          <p><strong>Price: <%= item.price %> &#8364</strong></p>
          <% if item.description.length > 100 %>
          <p><%= item.description[0,100] %>...</p>
          <% else %>
          <p><%= item.description %></p>
          <% end %>
          <p>
            <a href="/items/<%= item.id %>" class="btn btn-primary btn-sm" role="button">See more</a>
            <% if current_user %>
              <% if item.user_id === current_user.id %>  
            <a href="/items/<%= item.id %>/edit" class="btn btn-primary btn-sm" role="button">Edit</a>
              <% end %>
              <a href="/items/<%= item.id %>/edit" class="btn btn-primary btn-sm" role="button">Like</a>
            
            <% end %>
          </p>
         </div>
      </div>
    </div>
    <% end %>
    <a href="/items/new" class="btn btn-primary btn-sm" role="button">Add Product</a>
  </div>
</div>