<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<div class="container">
  <div>
    <% @items.each do |item| %>
    <div class="col-xs-12 col-sm-6 col-md-3 entry-card-wrapper ng-scope">
      <div class="item">
      <a href="/items/<%= item.id %>">
        <div class="thumbnail" style="height:250px;">
          <% unless item.image_url(:thumb).nil? %>
            <% image_url = item.image_url(:thumb)%>
          <% else %>
            <% image_url = '/default-thumbnail.png'%>
          <% end %> 
          <%= image_tag image_url, :style => "max-height: 250px; position: relative; top: 50%; transform: translateY(-50%);"%>
        </div>
      </a>
        <div>
          <%
            if item.name.length > 15
              item_name = item.name[0..14].upcase + "..."
            else
              item_name = item.name.upcase
            end
          %>
          <div style="height:30px"><h5><%= item_name %></h5></div>
          <p>
            <a href="/items/<%= item.id %>" class="btn btn-primary btn-xs" role="button">See more</a>
            <% if current_user %>
              <% if item.user_id === current_user.id %>  
            <a href="/items/<%= item.id %>/edit" class="btn btn-primary btn-xs" role="button">Edit</a>
              <% end %>
            <% end %>
            <span class="label label-primary">&#8364 <%= item.price %></span>
          </p>
         </div>
      </div>
    </div>
    <% end %>
  </div>
</div>