<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<div class="container">
  <div>
    <div class="col-xs-9 col-md-9">
      <div class="thumbnail">
      	<!-- <img src="/random.jpeg">   -->
        <% unless @item.image_url.nil? %>
          <%= image_tag @item.image_url(:thumb), :class => "img-thumbnail"%>
        <% end %> 
        <div class="caption">
          <h4><%= @item.name %></h4>
          <p><strong>Price: <%= @item.price %> &#8364</strong></p>
          <p><%= @item.description %></p>
          <p>
            <% if current_user %>
              <% if @item.user_id === current_user.id %>  
            <a href="/items/<%= @item.id %>/edit" class="btn btn-primary btn-sm" role="button">Edit</a>
              <% end %>
            <% end %>
            <%=link_to "Checkout", new_transaction_path, class: "btn btn-primary btn-sm"%>
          </p>
          <% $price = @item.price %>
         </div>
      </div>
    </div>
  </div>
</div>