<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<div class="container">
  <div>
    <% @items.each do |item| %>
    <div class="col-xs-12 col-sm-6 col-md-3 entry-card-wrapper ng-scope">
      <div class="thumbnail">  
      <% unless item.image.nil? %>
        <%= image_tag item.image_url(:thumb) %>
        <br />
      <% end %>
        <div class="caption">
          <h4><%= item.name %></h4>
          <p><strong>Price: <%= item.price %> &#8364</strong></p>
          <p>
            <a href="/items/<%= item.id %>" class="btn btn-primary btn-sm" role="button">See more</a>
            <% if current_user %>
              <% if item.user_id === current_user.id %>  
            <a href="/items/<%= item.id %>/edit" class="btn btn-primary btn-sm" role="button">Edit</a>
              <% end %>
            <% end %>
          </p>
         </div>
      </div>
    </div>
    <% end %>
  </div>
</div>