<!DOCTYPE html>
<html>
<head>
  <title>JacobsMKT</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= include_gon(:init => true) %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.config.css">
    <!-- Latest compiled and minified CSS -->
 <!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    Optional theme
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    Latest compiled and minified JavaScript 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
    <style>
    </style>
</head>
    <body>      
      <!-- <div class="ribbon"><span>endorsed by USG</span></div> -->

      <header id="custom-bootstrap-menu" role="banner" class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">     
            <a class="name navbar-brand" href="/" title="Home">JacobsMKT</a>
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div class="navbar-collapse collapse">
            <nav role="navigation">
              <ul class="menu nav navbar-nav">
                <li><a href="/" class="active">Home</a></li>
                <%if logged_in? %>
                <li> <%= link_to 'My Account', user_path(@current_user) %></li>
                <% end %>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-hashpopup="true"
                  aria-expanded="false">Categories<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <% Category.all.each do |category| %>
                      <li><a href="/category/<%= category.machine_name %>"><%= category.name %></a></li>
                    <% end %>
                  </ul>
                </li>
              </ul>                                   
            </nav>
            <form class="navbar-form navbar-right">
              <% if logged_in? %>
                <a class="btn btn-success" href="/logout">Log out</a>
              <% else %>
                <%= link_to "Log in", openjub_path, :class => "btn btn-success", :method => :get, :target => "_blank" %>
              <% end %>   
            </form>
            <div style="width:100px"></div>
          </div>
        </div>
      </header>

    <% flash.each do |message_type, message| %>
      <div class="container">
        <div>
          <div class="col-xs-12 col-md-12">  
            <div class="alert alert-<%=message_type%> alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <center><%= message %></center>
            </div>
          </div>
        </div>
      </div>
    <% end %>
 
    <div class="side-menu">
    </div>

    <div class="main-container">
      <%= yield %>
    </div>

    <!-- Footer -->
    <%= debug(params) if Rails.env.development? %>
    <div class="footer">
      <div class="container">
        <div>
          <ul class="list-inline">
            <li><a href="#">About us</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms&Conditions</a></li>
            <li><a href="#">Support</a></li>
          </ul>
        </div>
        <p class="pull-left">©2014-2015 The Jakeup Team. All rights reserved.</p>
      </div>
    </div>
    <% unless logged_in? %>
    <script>
      var once = false;
      //get the callback from openJUB
      window.addEventListener("message", receiveMessage, false);

      function post(data) {

        $.ajax({
          url: "/login",
          type: "POST",
          data: JSON.parse(data),
          success: function(){console.log("submitted")}
        });

      }

      function receiveMessage(event) {
        if(!once) {
          once = true;
          console.log(event);
          post(event.data);
          console.log("posted");
        }
      }
    </script>
    <% end %>
  </body>
</html>