<!DOCTYPE html>
<html>
<head>
  <title>JacobsMKT</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= include_gon(:init => true) %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.config.css">
    <!-- Latest compiled and minified CSS -->
 <!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    Optional theme
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    Latest compiled and minified JavaScript 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
    <style>
    </style>
</head>
    <body>      
      <div class="ribbon"><span>endorsed by USG</span></div>

      <header id="custom-bootstrap-menu" role="banner" class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">     
            <a class="name navbar-brand" href="/" title="Home">JacobsMKT</a>
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div class="navbar-collapse collapse">
            <nav role="navigation">
              <ul class="menu nav navbar-nav">
                <li><a href="/" class="active">Home</a></li>
                <%if logged_in? %>
                <li> <%= link_to 'My Account', user_path(@current_user) %></li>
                <% end %>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-hashpopup="true"
                  aria-expanded="false">Categories<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/">Marketplace</a></li>
                    <li><a href="#">Experiments</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">The Other Side</a></li>
                  </ul>
                </li>
              </ul>                                   
            </nav>
            <form class="navbar-form navbar-right">
              <% if logged_in? %>
                <a class="btn btn-success" href="/logout">Log out</a>
              <% else %>
                <a class="btn btn-success" href="/login">Log in</a>
              <% end %>   
            </form>
            <div style="width:100px"></div>
          </div>
        </div>
      </header>



    <!--<nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">JacobsMKT</a>
        </div>
        <% if logged_in? %>
        <div>
          <ul class="nav navbar-nav pull-right">
            <li class=""><a href="/logout">Log out</a></li>
          </ul>
        </div>
        <% else %>
        <div>
          <ul class="nav navbar-nav pull-right">
            <li class=""><a href="/login">Log in / Sign up</a></li>
          </ul>
        </div>
        <% end %>
      </div>
    </nav>-->
    <% flash.each do |message_type, message| %>
      <div class="container">
        <div>
          <div class="col-xs-12 col-md-12">  
            <div class="alert alert-info alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <%= message %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
 
    <div class="side-menu">
    </div>

    <div class="main-container">
      <%= yield %>
    </div>

    <!-- Footer -->
    <%= debug(params) if Rails.env.development? %>
    <div class="footer">
      <div class="container">
        <div>
          <ul class="list-inline">
            <li><a href="#">About us</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms&Conditions</a></li>
            <li><a href="#">Support</a></li>
          </ul>
        </div>
        <p class="pull-left">©2014-2015 The Jakeup Team. All rights reserved.</p>
      </div>
    </div>
  </body>
</html>